// 
// --------------------------------------------------

// Fonts
// --------------------------------------------------

// Variables
// --------------------------------------------------

// Common blocks
// --------------------------------------------------
body
	font-size: 12px 
	font-family: Arial, sans-serif 
	line-height: 1.4

// Headings
// --------------------------------------------------

// Misc
// --------------------------------------------------

// Header
// --------------------------------------------------

// Footer
// --------------------------------------------------
